@model IEnumerable<MyMusic.Models.Gig>
@{
    ViewBag.Title = "my";
}

<h1>My Upcoming Gigs</h1>

<ul class="gigs voffset3">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Gigs", new { id = gig.Id })"> 
                        @*we need to send the gig id of the form which needs to be edited*@
                        @*IMPORTANT*@
                        Edit
                    </a>
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
{
    @*e represents lcick envent and e.target is the source of click event*@
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);

                bootbox.dialog({
                    message: "Are you sure you want to cancel this gig?",
                    title: "Confirm",
                    buttons:
                        {
                            no:
                                {
                                    label: "No",
                                    className: "btn-default",
                                    callback: function () {
                                        bootbox.hideAll();
                                    }
                                },
                            yes:
                                {
                                    label: "Yes",
                                    className: "btn-danger",
                                    callback: function () {
                                        $.ajax(
                       {
                           url: "/api/gigs/" + link.attr("data-gig-id"),
                           method: "DELETE"
                       })
                   .done(function () {
                       link.parents("li").fadeOut(function () {
                           $(this).remove();
                       })
                   })
                   .fail(function () {
                       alert("failed");
                   });
                                    }
                                }


                        }
                });




            });
        });
    </script>
}