@model MyMusic.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Gigs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
               <i class="glyphicon glyphicon-search"></i>    
            </span>
        </div>
    </div>
} 

<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a href="@Url.Action("Details","Gigs", new { id = gig.Id })">
                            @gig.Artist.Name
                        </a>

                        @if (gig.isCanceled)
                        {
                            <span class="label label-warning">Canceled</span>
                        }

                        @if (Model.ShowActions)
                        {
                            <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                        }
                  </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.isCanceled)
                {
                    <button data-gig-id="@gig.Id"
                            class="btn
                            @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default")
                            btn-sm pull-right js-toggle-attendance">
                        @(Model.Attendances.Contains(gig.Id) ? "Going" : "Going?")
                    </button>
                }
            </div>
        </li>
        }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            initGigs();
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                debugger;
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("failed");
                    });
            });
        });


    </script>
}






